<!DOCTYPE html>
<html lang="en" xmlns:th="http://tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Справочник групп товаров</title>
</head>
<body>
<table>
  <tr>
    <th>Код</th>
    <th>Наименование</th>
  </tr>
    <tr name = "productGroup" th:each="productGroup : ${productGroups}">
        <td><a th:href="@{/productGroups/{id}(id=${productGroup.getId()})}" th:text="${productGroup.getId()}">products</a></td>
        <td><a th:href="@{/productGroups/{id}(id=${productGroup.getId()})}" th:text="${productGroup.getName()}">products</a></td>
    </tr>
</table>
</body>
</html>