<!DOCTYPE html>
<html lang="en"  xmlns:th="http://tymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Корзина</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div id="content" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <table class="table table-striped">
    <tr>
      <th>Код</th>
      <th>Наименование</th>
      <th>Цена</th>
    </tr>
    <tr name = "salesLines" th:each="salesLine : ${salesLines}">
      <td><a th:text="${salesLine.getId()}">salesLine</a></td>
      <td><a th:text="${salesLine.getQuantity()}">salesLine</a></td>
      <td><a th:text="${salesLine.getPrice()}">salesLine</a></td>
    </tr>
  </table>
  <!--        <div th:if="${totalPages > 1}">-->
  <!--            <div class="row col-sm-10">-->
  <!--                <div class="col-sm-2">-->
  <!--                    Total Rows: [[${totalItems}]]-->
  <!--                </div>-->
  <!--                <div class="col-sm-1">-->
  <!--                    <a th:if="${currentPage > 1}" th:href="@{'/salesLine/cart/page/' + ${currentPage - 1}}"><<</a>-->
  <!--                    <span th:unless="${currentPage > 1}"><<</span>-->
  <!--                </div>-->
  <!--                <div class="col-sm-1">-->
  <!--                            <span th:each="i: ${#numbers.sequence(1, totalPages)}">-->
  <!--                              <a th:if="${currentPage != i}" th:href="@{'/salesLine/cart/page/' + ${i}}">[[${i}]]</a>-->
  <!--                              <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;-->
  <!--                            </span>-->
  <!--                </div>-->
  <!--                <div class="col-sm-1">-->
  <!--                    <a th:if="${currentPage < totalPages}" th:href="@{'/salesLine/cart/page/' + ${currentPage + 1}}">>></a>-->
  <!--                    <span th:unless="${currentPage < totalPages}">>></span>-->
  <!--                </div>-->
  <!--                <div class="col-sm-1">-->
  <!--                    <a th:if="${currentPage < totalPages}" th:href="@{'/salesLine/cart/page/' + ${totalPages}}">Last</a>-->
  <!--                    <span th:unless="${currentPage < totalPages}">Last</span>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
</div>
</body>
</html>